.place__title {
    font-weight: 900;
    font-size: 48px;
    line-height: normal;
    grid-row: 1/2;
    grid-column: 1/-1;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        margin: 0 16px;
        order: -1;
    }
}
