.intro__button {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 20px;
  min-width: 160px;
  text-align: center;
  border-radius: 8px;
  color: #333;
  background-color: #fff;

  &:hover {
    color: #808080;
    cursor: pointer;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 992px) {
  padding: 12px 20px;
  min-width: 120px;
  font-size: 13px;
  line-height: 16px;
}

@media (max-width: 500px) {
  width: 100%;
}
