.place__link {
    color: #FFFFFF;
    text-decoration: underline solid #FFFFFF 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;

    &:hover {
        color: #FFFFFF;
        cursor: pointer;
        opacity: 0.6;
    }
}
